@import url("https://fonts.googleapis.com/css2?family=Croissant+One&display=swap");
body {
  min-height: 100%;
  background-size: cover;
  /* background-size: auto 100%; */
  /* background-repeat: no-repeat; */
}
.background-container-competitions {
  min-height: 100vh;
  max-width: 100vw;
  overflow-x: hidden;
}

.background-competitions {
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: scroll;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(250,210,170);
}

.image-competitions {
  top: 0;
  left: 0;
  position: fixed;
  background-image: url("../../assets-pearl/pearl-draft-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  width: 100vw;
  overflow: hidden;
  animation: 2s ease-out 0s 1 zoomOut;
  background-attachment: fixed;
  z-index: 0;
}

.content-competitions {
  margin-top: 200px;
  z-index: 100;
  text-align: center;
  /* animation: 2s ease-out 0s 1 fadeIn; */
}
.content-filter {
  width: 80vw;
  height: 100px;
  z-index: 1;
  /* animation: 2s ease-out 0s 1 fadeIn; */
}
.content-competitions h1 {
  font-family: "Poppins";
  font-style: normal;
  font-size: 70px;
  font-weight: 1000;
  color: white;
  mix-blend-mode: difference;
  
}
/* .content-competitions h4 {
  display: flex;
  gap: 1.5rem;
  position: absolute;
  z-index: 100;
  font-family: "sans-serif";
  font-style: normal;
  font-size: 2rem;
  font-weight: 600;
  color: white;
  transform: translate(-50%, -50%);
} */

.card-container-competitions {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100vw;
  top: 60%;
  justify-content: space-around;
  flex-flow: wrap;
  padding: 0 15%;
  flex: 0 1 auto;
  z-index: 100;
}

.hover-cards-competitions {
  background-color: rgb(250,210,170);
  position: relative;
  height: 250px;
  width: 250px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  border: 1px solid white;
  border-radius: 15px;
  margin-bottom: 40%;
  margin-left: 1.5rem;
  font-family: "Inter";
  color: #fffffc;
  text-transform: uppercase;
  bottom: 0;
  animation: 2s ease-out 0s 1 fadeIn;
  margin-right: 1rem;
  margin-left: 1rem;
  transition: transform 0.5s;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hover-cards-competitions:hover {
  transform: scale(1.3);
  z-index: 10;
}
.card-name {
  font-size: 18px;
  position: absolute;
  top: 275px;
  left: 50%;
  transform: translate(-50%);
  line-height: 27px;
  width: 250px;
}
.card-price {
  font-size: 18px;
  position: relative;
  line-height: 27px;
  width: 250px;
  text-transform: uppercase;
}
.card-genre {
  font-size: 14px;
  position: relative;
  line-height: 19px;
  width: 250px;

  text-transform: uppercase;
}
/* .hover-cards-competitions p {
  font-size: 18px;
  position: absolute;
  top: 225px;
  left: 50%;
  transform: translate(-50%);
  line-height: 27px;
  width: 210px;
} */

@media screen and (max-width: 500px) {
  .hover-cards-competitions {
    margin-bottom: 6rem;
    margin-left: 1rem;
    width: 280px;
  }
  .hover-cards-competitions:hover {
    transform: scale(1);
  }
  .card-container-competitions {
    align-items: center;
  }
}
.competitions-image{
  height: 100%;
  width: max-content;
  max-width: 100%;
  overflow: hidden;
  border-radius: inherit;
  
}

@media screen and (max-width: 480px) {
  .content-competitions {
    margin-top: 100px;
  }
  
}