* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap");
.background-container-gallery {
  position: relative;
  height: 100vh;
  width: 100vw;
}
.background-spons {
  background-color: #d8f9fe;
}

.background-image-sponsors {
  top: 0;
  left: 0;
  position: fixed;
  background-image: url("../../assets-pearl/sponsors_page-01.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  width: 100%;
  max-width: 100%;
  animation: 1s ease-out 0s 1 zoomOut;
}

.image-gallery-spons {
  z-index: -1;
  top: 0;
  left: 0;
  position: fixed;
  background-image: url("../../assets/anirudh-Xu4Pz7GI9JY-unsplash\ 1.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  width: 100%;
  overflow: hidden;
  animation: 1s ease-out 0s 1 zoomIn2;
}

.content-gallery-spons {
  position: absolute;
  height: 201px;
  width: 609px;
}

.pepsico-image {
  height: 15vh;
}
.oursponsors-title {
  text-align: center;
  position: relative;
  font-family: "Inter";
  font-style: normal;
  display: inline-flex;

  color: white;

  padding-top: 200px;
  justify-items: center;
  align-items: center;
  place-items: center;
}
.text-spons {
  text-align: center;
}
.heading-text-spons {
  position: relative;
  font-family: "Inter";
  font-style: normal;
  font-size: 80px;
  font-weight: 600;
  color: white;
  padding-top: 6%;
  text-align: center;
  justify-items: center;
}
.heading-text-old-spons {
  position: relative;
  font-family: "Inter";
  font-style: normal;
  font-size: 80px;
  font-weight: 600;
  color: white;
  text-align: center;
  justify-items: center;
  margin-top: 70px;
}
.logo-image {
  height: 10vh;
  width: auto;
  border-radius: 10px;
}
.oracle-image {
  height: 5vh;
  width: 300px;
  border-radius: 10px;
}
.forever-logo {
  height: 70px;
}

.adda-logo {
  height: 150px;
  width: auto;
}
.redfm-logo {
  height: 150px;
  width: auto;
  border-radius: 10px;
}
.zee-image {
  height: 130px;
  width: auto;
}
.dna-image {
  height: 130px;
  width: auto;
}
.asus-image {
  height: 130px;
  width: auto;
}
.sponsors-title {
  position: relative;
  font-family: "TAN-Pearl";
  font-style: normal;
  font-size: 5vw;
  font-weight: 600;
  color: rgb(2, 0, 0);
  padding-top: 6%;
  text-align: center;
  justify-items: center;
}

.cotitle-sponsors {
  position: relative;
  font-family: "Inter";
  font-style: normal;
  font-size: 50px;
  font-weight: 600;
  height: 182px;
  color: white;
  padding-top: 230px;
  transform: translate(-50%, -50%);
}
.gold-sponsors {
  position: relative;
  font-family: "Inter";
  font-style: normal;
  font-size: 50px;
  font-weight: 600;
  height: 182px;
  color: white;
  padding-top: 700px;
  transform: translate(-50%, -50%);
}
.silver-sponsors {
  position: relative;
  font-family: "Inter";
  font-style: normal;
  font-size: 50px;
  font-weight: 600;
  height: 182px;
  color: white;
  padding-top: 1300px;
  transform: translate(-50%, -50%);
}

.associate-sponsors {
  position: relative;
  font-family: "Inter";
  font-style: normal;
  font-size: 50px;
  font-weight: 600;
  height: 182px;
  color: white;
  padding-top: 500px;
  transform: translate(-50%, -50%);
}

.associate-sponsors-2 {
  position: relative;
  font-family: "Inter";
  font-style: normal;
  font-size: 50px;
  font-weight: 600;
  height: 182px;
  color: white;
  padding-top: 450px;
  transform: translate(-50%, -50%);
}
.card-container-gallery {
  position: absolute;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 34px;
  width: 100vw;
  top: 40%;
  justify-content: space-around;
  padding: 0 10%;
  align-content: center;
  align-items: center;
  justify-items: center;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .asus-image{
    width: 30vh;
  }
  .logo-image{
    width: 30vh;
  }
}

@media screen and (max-width: 1000px) {
  .sponsors-title {
    font-size: 35px;
    padding: 5vh;
    padding-top: 65px;
  }
  .oursponsors-title {
    padding-bottom: 5vh;
  }
}
